<div class="py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card">
          <img class="rounded-top-3" src="../../assets/task-manager.png" />
          <div class="card-body rounded-3 rounded-top-0">
            <p class="card-text">
              <strong>Task Manager</strong> <br />
              Task Manager is a planner app that allows you to add, remove, and
              edit tasks. With this app, you can easily keep track of your daily
              tasks and manage them efficiently.
            </p>
            <div class="d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn view-btn me-3 rounded-pill"
                (click)="onTaskManagerViewClicked()"
              >
                View Demo
              </button>
              <a href="https://github.com/OsmanPro4K/improved-task-manager">
                <button
                  type="button"
                  class="btn btn-danger rounded-pill ps-4 pe-4"
                >
                  Code
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card weather-app">
          <img class="rounded-top-3" src="../../assets/weather-app.png" />
          <div class="card-body rounded-3 rounded-top-0">
            <p class="card-text">
              <strong>Weather App with Open Weather API</strong> <br />
              Introducing my first website with an API integration – Stay
              updated on the latest weather conditions, powered by the
              OpenWeather API. Get forecasts and current weather data based on
              the API.
            </p>
            <div class="d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn view-btn me-3 rounded-pill"
                (click)="onWeatherViewClicked()"
              >
                Not Working!
              </button>
              <a href="https://github.com/OsmanPro4K/weather-app/tree/master">
                <button
                  type="button"
                  class="btn btn-danger rounded-pill ps-4 pe-4"
                >
                  Code
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card resume-website">
          <img class="rounded-top-3" src="../../assets/resume-website.png" />
          <div class="card-body rounded-bottom-3">
            <p class="card-text">
              <strong>First Portfolio Website</strong> <br />
              First Portfolio Website was made with HTML, CSS, and JavaScript.
              After 5-6 months of learning Web Development, I have made this
              website so I could get a Junior Web Developer position.
            </p>
            <div class="d-flex justify-content-end align-items-center">
              <a href="https://osmanabrar-resume.glitch.me/">
                <button type="button" class="btn view-btn me-3 rounded-pill">
                  View Site
                </button>
              </a>
              <button
                type="button"
                class="btn btn-danger rounded-pill ps-4 pe-4"
              >
                Code
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img class="rounded-top-3 tindog" src="../../assets/tindog.png" />
          <div class="card-body rounded-3 rounded-top-0">
            <p class="card-text">
              <strong>TinDog</strong> <br />
              TinDog is a satirical dating website for dogs made only with HTML,
              CSS, and JavaScript with JQuery. This was a Udemy course project,
              which I built after watching the course.
            </p>
            <div class="d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn view-btn me-3 rounded-pill"
                (click)="onTinDogViewClicked()"
              >
                View Demo
              </button>
              <a href="https://github.com/OsmanPro4K/TinDog">
                <button
                  type="button"
                  class="btn btn-danger rounded-pill ps-4 pe-4"
                >
                  Code
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="rounded-3" src="../../assets/chirp.png" />
          <div class="card-body rounded-3 rounded-top-0">
            <p class="card-text">
              <strong>Chirp Twitter API (Not actual API)</strong> <br />
              The Chirp website was made with HTML, CSS, Bootstrap, and a little
              JavaScript. JavaScript was used on the little profile picture
              stacking towards the right. I was really happy to figure that out
              by myself.
            </p>
            <div class="d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn view-btn me-3 rounded-pill"
                (click)="onChirpViewClicked()"
              >
                View Demo
              </button>
              <a
                href="https://github.com/OsmanPro4K/osmanpro4k.chirp.github.io"
              >
                <button
                  type="button"
                  class="btn btn-danger rounded-pill ps-4 pe-4"
                >
                  Code
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col justify-self-center align-self-center">
        <button
          class="btn rounded-pill contact-btn ps-5 pe-5"
          (click)="onContactBtnClicked()"
        >
          Contact <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
