<div class="container main">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-sm mt-4">
    <a href="#" class="navbar-brand fw-bolder fst-italic">Chirp.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-2">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item me-2">
          <a href="#" class="nav-link">Pricing</a>
        </li>
        <li class="nav-item me-2">
          <a href="#" class="nav-link">FAQ</a>
        </li>
        <li class="nav-item">
          <button class="btn sign-in-btn ms-2 fw-bold">
            <i class="fa-brands fa-twitter me-1"></i> Sign in with Twitter
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Section 1 -->
  <section id="section-1">
    <div class="right mt-5">
      <img src="../../../assets/Hero Image (Desktop View).png" />
    </div>
    <div class="left mt-5">
      <h1 class="title fw-bold">
        Twitter analytics <br />
        taken to a whole new <br />
        level.
      </h1>
      <p class="description">
        Chirp is suite of Twitter analytics that will help you better
        understand <br />
        your audience, which tweets they like, and most importantly, when
        <br />
        they are most active on Twitter.
      </p>
      <button class="btn sign-in-btn fw-bold">
        <i class="fa-brands fa-twitter"></i> Sign in with Twitter
      </button>
      <a href="#" class="learn-link fw-bold ms-2">Learn More 🡢</a>
      <div class="images mt-4" #images>
        <img src="../../../assets/userAvatar01.svg" class="user-avatar" />
        <img src="../../../assets/userAvatar02.svg" class="user-avatar" />
        <img src="../../../assets/userAvatar03.svg" class="user-avatar" />
        <img src="../../../assets/userAvatar04.svg" class="user-avatar" />
        <img src="../../../assets/userAvatar05.svg" class="user-avatar" />
        <img src="../../../assets/userAvatar06.svg" class="user-avatar" />
        <img src="../../../assets/userAvatar07.svg" class="user-avatar" />
        <img src="../../../assets/userAvatar08.svg" class="user-avatar" />
        <img src="../../../assets/userAvatar09.svg" class="user-avatar" />
      </div>
      <br />
      <br />
      <p style="color: gray">
        Join
        <span style="color: #1d9bf0; font-weight: bold">195</span> others
        who have analyzed their followers and <br />
        scheduled
        <span style="color: #1d9bf0; font-weight: bold">1345</span> tweets!
      </p>
    </div>
  </section>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <!-- Section 2 -->
  <section id="section-2" class="mt-5 mt-sm-1">
    <h2 class="fw-bold" style="color: black">
      Features that help you <br />
      Tweet smarter.
    </h2>
    <div class="cards mt-4">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card card-1">
            <div class="card-body">
              <h5 class="card-title fw-bold" style="color: black">
                <span style="font-size: 30px">📈</span> <br />
                <br />
                Analytics
              </h5>
              <p class="card-text" style="color: gray">
                We constantly monitor your audience as it grows - so you can
                tweet when your followers are most likely to be online and
                ready to engage with your content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card card-2">
            <div class="card-body">
              <h5 class="card-title fw-bold" style="color: black">
                <span style="font-size: 30px">🤓</span> <br />
                <br />
                Smart Analyzer
              </h5>
              <p class="card-text" style="color: gray">
                Chirp automatically recognizes your followers' most active
                times and automatically sends you notifications if you're
                missing out on an oppurtunity.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card card-3">
            <div class="card-body">
              <h5 class="card-title fw-bold" style="color: black">
                <span style="font-size: 30px">💵</span> <br />
                <br />
                Scheduled Your Tweets
              </h5>
              <p class="card-text" style="color: gray">
                Quality tweets drive tons of engagement. With Chirp, you can
                write tweets in an advance and schedule them when your
                audience is most likely to read.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card card-4">
            <div class="card-body">
              <h5 class="card-title fw-bold" style="color: black">
                <span style="font-size: 30px">🌑</span> <br />
                <br />
                Dark Mode
              </h5>
              <p class="card-text" style="color: gray">
                Friendly on the eyes, no matter what time you write your
                Tweets. All colors are chosen to make sure your eyes are
                <br />
                at ease at all times.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section 3 -->
  <section
    id="section-3"
    class="mt-4 mb-4 pt-3 pb-5 ps-5 pe-5 p-sm-1">
    <h2 class="p-5 fw-bold" style="color: black">What our customers say</h2>
    <div class="cards mt-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-1 ms-4">
            <div class="card-body">
              <div class="user-info">
                <img src="../../../assets/userAvatar01.svg" />
                <div class="user-details">
                  <p class="name">
                    Sara May &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <i class="fa-brands fa-twitter twitter-icon"></i>
                  </p>
                  <p class="username">@sara_may</p>
                </div>
              </div>

              <p class="card-text mt-2">
                I just tried out @chirp and <br />
                it's amazing, love all the analytics I can see. <br />
                <br />
                <i class="fa-regular fa-heart heart"></i> 2
                <span class="date">March 2, 2021</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-2 ms-4 mb-5">
            <div class="card-body">
              <div class="user-info">
                <img src="../../../assets/userAvatar07.svg" />
                <div class="user-details">
                  <p class="name">
                    Jack Scott &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa-brands fa-twitter twitter-icon"></i>
                  </p>
                  <p class="username">@jackscott_</p>
                </div>
              </div>

              <p class="card-text mt-2">
                I initially started using Chirp to <br />
                support the co-founder as I <br />
                personally knew him, but after <br />
                having tried it out for a few weeks, <br />
                I can genuinely say this changed my <br />
                Twitter game. <br />
                <br />
                <i class="fa-regular fa-heart heart"></i> 32
                <span class="date">March 2, 2021</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-3">
            <div class="card-body">
              <div class="user-info">
                <img src="../../../assets/userAvatar06.svg" />
                <div class="user-details">
                  <p class="name">
                    Jessica May &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <i class="fa-brands fa-twitter twitter-icon"></i>
                  </p>
                  <p class="username">@jmay98</p>
                </div>
              </div>

              <p class="card-text">
                Absolutely love everything about <br />
                Chirp, from the design to how <br />
                everything works smoothly.
                <br />
                <br />
                <i class="fa-regular fa-heart heart"></i> 221
                <span class="date">March 2, 2021</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section 4 -->
  <section id="section-4" class="text-center">
    <h1 class="sect-4-title">One simple price plan</h1>
    <p class="description text-center">
      Start growing your Twitter account by analyzing your follower's <br>
      patterns.
    </p>
    <div class="row">
      <div class="col-lg-5 ms-auto me-auto mt-5">
        <div class="card card-1 mb-5">
          <div class="card-body">
            <p class="ms-4">
              Monthly <br>
              <span class="number fw-bolder">$9</span>/mo
            </p>
            <hr class="ms-auto me-auto" width="350px">
            <div class="card-text">
              <span class="ms-4">
                <img src="../../../assets/Checkmark.svg"> Unlimited* scheduled tweets and threads.
              </span> <br>
              <span class="ms-4">
                <img src="../../../assets/Checkmark.svg"> Schedule up to three weeks in advanced
              </span> <br>
              <span class="ms-4">
                <img src="../../../assets/Checkmark.svg"> Real-time audience analytics tracking up to 5K
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; followers.
              </span> <br>
              <hr class="ms-auto me-auto" width="350px">
              <button class="btn sign-in-btn">
                <i class="fa-brands fa-twitter"></i> &nbsp; Start Trial with Twitter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <nav class="navbar navbar-expand-lg mt-4">
      <a href="#" class="navbar-brand fw-bolder fst-italic ps-4">Chirp.</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-2">
          <a href="#" class="nav-link"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="nav-item me-2">
          <a href="#" class="nav-link">Privacy Policy</a>
        </li>
        <li class="nav-item me-2 pe-3">
          <a href="#" class="nav-link">Terms of Use</a>
        </li>
      </ul>
    </nav>
  </footer>
</div>
